<template>
  <div>
    <section>
      <h1 class="title has-text-centered is-size-2">
        todos
      </h1>
      <b-field id="insert-input">
        <div class="columns">
          <div class="column is-11">
            <b-input
              v-model="task"
              placeholder="O que precisa ser feito?"
              @keyup.enter.native="check"
            />
          </div>
          <div class="column is-1">
            <b-icon
              class="add-button"
              icon="plus-circle"
              size="is-medium"
              @click.native="check"
            />
          </div>
        </div>
      </b-field>
    </section>
  </div>
</template>

<style type="text/css">
.add-button{
  color: #aa98db;
  cursor: pointer;
}
.add-button:hover{
  color: #7957d5;
}
</style>

<script>
import Vue from 'vue';
import Buefy from 'buefy';
import { EventBus } from './event-bus';
import '@fortawesome/fontawesome-free/css/all.css';
import '@fortawesome/fontawesome-free/css/fontawesome.css';

Vue.use(Buefy, {
  defaultIconPack: 'fas',
});

const axios = require('axios');

export default {
  name: 'Insert',
  data() {
    return {
      task: '',
    };
  },
  methods: {
    check() {
      const vm = this;
      if (vm.task.length > 0) {
        vm.getLast().then((last) => {
          const newObj = {
            order: last + 1,
            completed: false,
            description: vm.task,
          };
          vm.task = '';
          vm.insert(newObj).then((obj) => {
            EventBus.$emit('displaySucess', `Tarefa ${obj.order}#`, 'Tarefa adicionada com sucesso');
            EventBus.$emit('reRenderList');
            vm.$emit('displaySucess');
          });
        });
      } else {
        const error = {
          name: 'Texto vazio',
          message: 'Antes de clicar em adicionar uma tarefa, descreva-a no campo de texto.',
        };
        EventBus.$emit('displayError', 'Erro ao adicionar tarefa', error);
        vm.$emit('displayError');
      }
    },
    insert(obj) {
      const vm = this;
      const url = 'http://localhost:3000/todos';

      return new Promise((resolve, reject) => {
        axios.post(url, obj)
          .then(() => {
            resolve(obj);
          })
          .catch((error) => {
            EventBus.$emit('displayError', 'Erro ao adicionar tarefa', error);
            reject(new Error('Erro ao adicionar'));
            vm.$emit('displayError');
          });
      });
    },
    getLast() {
      const vm = this;
      const url = 'http://localhost:3000/todos?_sort=order&_order=desc';

      return new Promise((resolve, reject) => {
        axios.get(url)
          .then((response) => {
            const aux = response.data;
            resolve(aux[0].order);
          })
          .catch((error) => {
            EventBus.$emit('displayError', 'Erro ao listar dados', error);
            reject(new Error('Erro ao atualizar'));
            vm.$emit('displayError');
          });
      });
    },
  },
};
</script>
