<template>
  <div>
    <div
      id="option-todo"
      class="block has-text-centered"
    >
      <b-radio
        v-model="optionTodo"
        native-value="todos"
      >
        Todos
      </b-radio>
      <b-radio
        v-model="optionTodo"
        native-value="à fazer"
      >
        À fazer
      </b-radio>
      <b-radio
        v-model="optionTodo"
        native-value="completos"
      >
        Completos
      </b-radio>
    </div>
    <template>
      <b-table
        id="task-list"
        v-sortable="sortableOptions"
        :data="tasks"
        :loading="loading"
        :hoverable="true"
        :row-class="completed"
        icon-pack="fas"
      >
        <template slot-scope="props">
          <b-table-column
            field="order"
            label="Nº tarefa"
            sortable
            numeric
            width="120"
          >
            {{ props.row.order }}
          </b-table-column>

          <b-table-column
            field="completed"
            label="Completo"
            sortable
            :custom-sort="sortByCompleted"
          >
            <b-checkbox
              v-model="props.row.completed"
              @input="updateTask(props.row)"
            />
          </b-table-column>

          <b-table-column
            field="description"
            label="Descrição"
          >
            {{ props.row.description }}
          </b-table-column>

          <b-table-column
            field="remove"
            label="Remover"
          >
            <a
              class="delete is-large"
              @click="deleteTask(props.row)"
            />
          </b-table-column>
        </template>
        <template slot="footer">
          {{ footerMsg }}
        </template>
      </b-table>
    </template>
    <template slot="empty">
      <section class="section">
        <div class="content has-text-grey has-text-centered">
          <p>Não há resultados</p>
        </div>
      </section>
    </template>
  </div>
</template>

<style type="text/css">
.completed{
  opacity: 0.5;
  background-color: #e9e9e9;
}
</style>

<script>
import Vue from 'vue';
import Buefy from 'buefy';
import 'buefy/dist/buefy.css';
import Sortable from 'sortablejs';
import { EventBus } from './event-bus';

const axios = require('axios');

Vue.use(Buefy);

const createSortable = (el, options, vnode) => Sortable.create(el, {
  ...options,
  onEnd(evt) {
    const data = vnode.context.tasks;

    let itemOrder = data[evt.oldIndex].order;
    if (evt.newIndex > evt.oldIndex) {
      for (let i = evt.oldIndex; i < evt.newIndex; i += 1) {
        const aux = data[i + 1].order;

        data[i + 1].order = itemOrder;
        itemOrder = aux;
      }
    } else {
      for (let i = evt.oldIndex; i > evt.newIndex; i -= 1) {
        const aux = data[i - 1].order;

        data[i - 1].order = itemOrder;
        itemOrder = aux;
      }
    }

    data[evt.oldIndex].order = itemOrder;
    vnode.context.updateAll(data, data.length);
  },
});

const sortable = {
  name: 'sortable',
  bind(el, binding, vnode) {
    if (el) {
      const table = el.querySelector('table');
      if (table) {
        const body = table.querySelector('tbody');
        table._sortable = createSortable(body, binding.value, vnode); // eslint-disable-line
      }
    }
  },
  update(el, binding, vnode) {
    if (el) {
      const table = el.querySelector('table');
      if (table) {
        const body = table.querySelector('tbody');
        if (table._sortable) { // eslint-disable-line
          table._sortable.destroy(); // eslint-disable-line
          table._sortable = createSortable(body, binding.value, vnode); // eslint-disable-line
        }
      }
    }
  },
  unbind(el) {
    if (el) {
      const table = el.querySelector('table');
      if (table && table._sortable) { // eslint-disable-line
        table._sortable.destroy(); // eslint-disable-line
      }
    }
  },
};

export default {
  name: 'List',
  directives: { sortable },
  data() {
    return {
      optionTodo: 'todos',
      tasks: [],
      loading: true,
      footerMsg: '',
      sortableOptions: {
        chosenClass: 'is-selected',
      },
    };
  },
  watch: {
    tasks() {
      const vm = this;
      let acc = 0;

      if (vm.optionTodo !== 'completos') {
        acc = vm.tasks.reduce((a, o) => (!o.completed ? a + 1 : a), 0);

        switch (acc) {
          case 0:
            vm.footerMsg = 'Não há tarefas';
            break;
          case 1:
            vm.footerMsg = 'Uma tarefa restante';
            break;
          default:
            vm.footerMsg = `${acc} tarefas restantes`;
            break;
        }
      } else {
        vm.footerMsg = '';
      }
    },
    optionTodo() {
      const vm = this;

      vm.listTask();
    },
  },
  created() {
    const vm = this;

    EventBus.$on('reRenderList', () => {
      vm.listTask();
    });

    vm.listTask();
  },
  methods: {
    completed(row) {
      return (row.completed ? 'completed' : 'uncompleted');
    },
    sortByCompleted(a, b, isAsc) {
      if (isAsc) {
        return b.completed - a.completed;
      }
      return a.completed - b.completed;
    },
    deleteTask(obj) {
      const vm = this;

      return new Promise((resolve, reject) => {
        vm.loading = true;
        axios.delete(`http://localhost:3000/todos/${obj.id}`)
          .then(() => {
            vm.listTask().then((res) => {
              resolve(res.length);
            });
          })
          .catch((error) => {
            EventBus.$emit('displayError', 'Erro ao deletar dados', error);
            reject(new Error('Erro ao deletar'));
            vm.$emit('displayError');
          })
          .then(() => {
            vm.loading = false;
          });
      });
    },
    updateAll(obj, length) {
      const vm = this;

      vm.loading = true;
      if (length > 0) {
        vm.updateTask(obj[length - 1])
          .then(vm.updateAll(obj, length - 1));
      } else {
        vm.loading = false;
      }
    },
    updateTask(obj) {
      const vm = this;

      return new Promise((resolve, reject) => {
        vm.loading = true;

        axios.patch(`http://localhost:3000/todos/${obj.id}`, obj)
          .then(() => {
            vm.tasks = [];
            vm.listTask().then(resolve(obj));
          })
          .catch((error) => {
            EventBus.$emit('displayError', 'Erro ao atualizar dados', error);
            reject(new Error('Erro ao atualizar'));
            vm.$emit('displayError');
          })
          .then(() => {
            vm.loading = false;
          });
      });
    },
    listTask() {
      const vm = this;
      let url = 'http://localhost:3000/todos?_sort=order&_order=asc';

      return new Promise((resolve, reject) => {
        vm.loading = true;

        if (vm.optionTodo !== 'todos') {
          const completed = vm.optionTodo === 'completos';
          url += `&completed=${completed}`;
        }

        axios.get(url)
          .then((response) => {
            const aux = response.data;
            const taskUncompleted = aux.filter(o => !o.completed);
            const taskCompleted = aux.filter(o => o.completed);

            vm.tasks = taskUncompleted.concat(taskCompleted);
            resolve(vm.tasks);
          })
          .catch((error) => {
            EventBus.$emit('displayError', 'Erro ao listar dados', error);
            reject(new Error('Erro ao atualizar'));
            vm.$emit('displayError');
          })
          .then(() => {
            vm.loading = false;
          });
      });
    },
  },
};
</script>
