<template>
  <div>
    <b-notification
      auto-close
      type="is-danger"
      :active.sync="showError"
      has-icon
    >
      <h1 class="title">
        {{ title }}
      </h1>
      {{ msg }}
    </b-notification>

    <b-notification
      auto-close
      type="is-success"
      :active.sync="showSuccess"
      has-icon
    >
      <h1 class="title">
        {{ title }}
      </h1>
      {{ msg }}
    </b-notification>
  </div>
</template>

<script>
import Vue from 'vue';
import Buefy from 'buefy';
import { EventBus } from './event-bus';
import 'buefy/dist/buefy.css';

Vue.use(Buefy);

export default {
  name: 'Notification',
  data() {
    return {
      showError: false,
      showSuccess: false,
      msg: '',
      title: '',
    };
  },
  mounted() {
    const vm = this;
    EventBus.$on('displayError', (title, msg) => {
      vm.title = title;
      vm.msg = `${msg.name}: ${msg.message}`;
      vm.showError = true;
    });
    EventBus.$on('displaySucess', (title, msg) => {
      vm.title = title;
      vm.msg = msg;
      vm.showSuccess = true;
    });
  },
};
</script>
