<template>
  <div id="app">
    <div class="columns is-flex is-vcentered is-centered">
      <div class="column is-two-thirds-mobile is-half-tablet">
        <section>
          <notification />
        </section>
        <section>
          <insert />
        </section>
        <section>
          <list />
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import insert from './components/insert.vue';
import list from './components/list.vue';
import notification from './components/notification.vue';

export default {
  name: 'App',

  components: {
    insert, notification, list,
  },
};
</script>
